.surat {
    width: 90%;
    height: auto;
    margin: 10px 0px;
}

.head-surat {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #395B64;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.head-surat h2 {
    margin: 10px 0px;
}

.aksi {
    margin: 10px 0px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.aksi button {
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #2C3333;
    color: white;
}

.body-surat {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.card-ayat {
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: #395B64;
    margin: 10px 0px;
}

.no-ayat {
    font-weight: 500;
    text-align: start;
}

.ayat {
    text-align: end;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.ayat-latin {
    font-weight: 500;
    margin-bottom: 5px;
}

.arti {
    font-size: 14px;
    margin-top: 10px;
    color: #e2e8f0;
    font-weight: 500;
}

.select-ayat {
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 10px 0px;
    background-color: #395B64;
    color: white;
    box-sizing: border-box;
}

.select-ayat select {
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: #2C3333;
    border: none;
    color: white;
    box-sizing: border-box;
}